<%= form_for([@project, @task], html: {class: "form-horizontal"}) do |f| %>
  <%= render 'shared/errors', record: @task %>
  <div class="form-group">
    <label class="col-sm-1"><%= f.label :description %></label>
    <div class="col-sm-5">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-1"><%= f.label :due_date %></label>
    <div class="col-sm-2">
        <%= f.date_field :due_date, class: "form-control" %>
    </div>
  </div>
  <% if @task.id? %>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
        <%= f.check_box :complete %>
        <label>
          <%= f.label :complete %>
        </label>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-5">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
