<div class="page-header">
  <span class="h1">Tasks</span>
  <%= link_to 'Create Task', new_task_path, class: "btn btn-info pull-right" %>
  <div class="btn pull-right">
    <%= link_to "All", tasks_path(task_filter: "All"), {:class => ("active disabled" if current_page?('/tasks?task_filter=All'))}%>|
    <%= link_to "Incomplete", tasks_path(task_filter: "Incomplete"), {:class => ("active disabled" unless current_page?('/tasks?task_filter=All'))}%>
  </div>
</div>
<table class="table">
  <thead class="row-md-3">
    <tr>
      <th><%= link_to 'Description', tasks_path(sort_by: "description") %></th>
      <th><%= link_to 'Complete', tasks_path(sort_by: "complete") %></th>
      <th><%= link_to 'Due Date', tasks_path(sort_by: "due_date") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr <% {:class => ("alert alert-danger")} %>>
        <td><%= task.description %></td>
        <td><%= task.complete %></td>
        <td><%= l task.due_date if task.due_date %></td>
        <td>
          <div class= "btn-toolbar pull-right">
            <%= link_to 'Show', task, class: "btn btn-primary"  %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-success"  %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
            <i class="btn btn-primary glyphicon glyphicon-check">
            </i>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
