<h1 class="page-header">Listing tasks
    <%= link_to 'Create Task', new_task_path, class: "btn btn-info pull-right" %>
</h1>
<table class="table">
  <thead class="row-md-3">
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.complete %></td>
        <td><%= l task.due_date if task.due_date %></td>
        <td>
          <div class= "btn-toolbar pull-right">
            <%= link_to 'Show', task, class: "btn btn-primary"  %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-success"  %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
            <i class="btn btn-primary glyphicon glyphicon-check">
            </i>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
