<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>
<div class="page-header">
  <span class="h1">Tasks</span>
  <div class= "btn-toolbar pull-right">
    <%= link_to 'Create Task', new_task_path, class: "btn btn-info" %>
    <%= link_to 'Download CSV', tasks_path(format: :csv, task_filter: params[:task_filter], sort_by: params[:sort_by]), class: 'btn btn-info pull-right' %>
  </div>
  <div class="btn pull-right">
    <%= link_to "All", tasks_path(task_filter: "all", sort_by: params[:sort_by]), {:class => ("active disabled" if params[:task_filter]=="all")}%>|
    <%= link_to "Incomplete", tasks_path(task_filter: "incomplete", sort_by: params[:sort_by]), {:class => ("active disabled" unless params[:task_filter]=="all")}%>
  </div>
</div>
<table class="table">
  <thead class="row-md-3">
    <tr>
      <th><%= link_to 'Description', tasks_path(task_filter: params[:task_filter], sort_by: "description") %></th>
      <th><%= link_to 'Complete', tasks_path(task_filter: params[:task_filter], sort_by: "complete") %></th>
      <th><%= link_to 'Due Date', tasks_path(task_filter: params[:task_filter], sort_by: "due_date") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if task.upcoming? %>
      <tr class="alert alert-danger">
      <% end %>
        <td><%= task.description %></td>
        <td><%= task.complete %></td>
        <td><%= l task.due_date if task.due_date %></td>
        <td>
          <div class= "btn-toolbar pull-right">
            <%= link_to 'Show', task, class: "btn btn-primary"  %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-success"  %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
            <%= form_for task, html: {class: "btn"} do %>
              <input id="task_complete" name="task[complete]" type="hidden" value="1">
              <input type="hidden" name="source" value="index">
              <button class="btn btn-primary" type="submit">
                <i class="glyphicon glyphicon-check"></i>
              </button>
              </input>
              </input>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
