<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>
<div class="page-header">
  <span class="h1">Tasks for <%= @project.name %></span>
  <div class= "btn-toolbar pull-right">
    <%= link_to 'Create Task', new_project_task_path, class: "btn btn-primary" %>
    <%= link_to 'Download CSV', project_tasks_path(format: :csv, task_filter: params[:task_filter], sort_by: params[:sort_by]), class: 'btn btn-primary pull-right' %>
  </div>
  <div class="btn pull-right">
    <%= link_to "All", project_tasks_path(task_filter: "all", sort_by: params[:sort_by]), {:class => ("active disabled" if params[:task_filter]=="all")}%>|
    <%= link_to "Incomplete", project_tasks_path(task_filter: "incomplete", sort_by: params[:sort_by]), {:class => ("active disabled" unless params[:task_filter]=="all")}%>
  </div>
</div>
<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active"><%= link_to "Tasks", project_tasks_path %></li>
</ol>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-4"><%= link_to 'Description', project_tasks_path(task_filter: params[:task_filter], sort_by: "description") %></th>
      <th class="col-md-2"><%= link_to 'Complete', project_tasks_path(task_filter: params[:task_filter], sort_by: "complete") %></th>
      <th class="col-md-3"><%= link_to 'Due Date', project_tasks_path(task_filter: params[:task_filter], sort_by: "due_date") %></th>
      <th class="col-md-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <% if task.upcoming? %>
      <tr class="alert alert-danger">
      <% end %>
        <td><%= link_to task.description, project_task_path(@project, task) %>
          <span class="badge"><%= task.comments.count %></span></td>
        <td><%= task.complete %></td>
        <td><%= l task.due_date if task.due_date %></td>
        <td>
          <div class= "btn-toolbar pull-right">
            <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-primary"  %>
            <%= link_to "", project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
            <% unless task.complete? %>
              <%= form_for [@project, task], html: {class: "btn"} do %>
                <input type="hidden" id="task_complete" name="task[complete]"  value="1">
                <input type="hidden" name="task_filter" value="<%=params[:task_filter] %>" >
                <input type="hidden" name="sort_by" value="<%=params[:sort_by] %>">
                <input type="hidden" name="source" value="index">
                <button class="btn btn-primary" type="submit">
                  <i class="glyphicon glyphicon-check"></i>
                </button>
                </input>
                </input>
                </input>
                </input>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
