<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path %></li>
  <li class="active">New Task</li>
</ol>

<h1>Create a new task</h1>

<%= render 'form' %>

<%= link_to 'Back', project_tasks_path %>
