<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Completed:</strong>
  <%= @task.complete %>
<p>
  <strong>Due Date:</strong>
  <%= l @task.due_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
