<ol class="breadcrumb">
  <li><%= link_to @project.name, projects_path %>
  <li><%= link_to "Tasks", project_tasks_path %></li>
  <li><%= @task.description %></li>
  <li class="active">Show Task</li>
</ol>
<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Completed:</strong>
  <%= @task.complete %>
<p>
  <strong>Due Date:</strong>
  <%= l @task.due_date if @task.due_date %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path %>
