<div class="page-header">
  <span class="h1"><%= @task.description %></span>
  <div class= "btn-toolbar pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-primary" %>
  </div>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %>
  <li><%= link_to "Tasks", project_tasks_path %></li>
  <li><%= @task.description %></li>
</ol>
<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Due Date:</strong>
  <%= l @task.due_date if @task.due_date %>
</p>
<p>
  <strong>Completed:</strong>
  <%= @task.complete %>
</p>

<div class="h2">Comments</div>

<table class="table">
  <tbody>
    <% @task.comments.each do |comment| %>
    <tr>
      <td class="col-sm-3">
        <p>
          <% if comment.user != nil %>
            <%= link_to comment.user.full_name, user_path(comment.user) %>
          <% else %>
            <%= link_to "(deleted user)", users_path %>
          <% end %>
        </p>
        <p class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
      </td>
      <td class="col-sm-offset-3 col-sm-9">
        <%= comment.comment %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if session[:user_id] %>
  <%= form_for(@comment, html: {class: "form-horizontal"}) do |f| %>
    <%= hidden_field_tag :user_id, @comment.user_id%>
    <%= hidden_field_tag :project_id, @project.id  %>
    <%= hidden_field_tag :task_id, @task.id %>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.text_area :comment, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
<% end %>
