<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>
<div class="page-header">
  <span class="h1">Users</span>
  <% if current_user.admin? %>
    <%= link_to 'Create User', new_user_path, class: "btn btn-info pull-right" %>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-2">
        Name
      </th>
      <th>
        Email
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="col-sm-2">
          <%= link_to "#{user.first_name} #{user.last_name}", user %>
        </td>
        <td>
          <% if current_user.admin? || current_user.coworker_of?(user) %>
            <%= mail_to user.email %>
          <% end %>
        </td>
        <td>
          <% if current_user == user || current_user.admin?%>
            <%= link_to "Edit", edit_user_path(user) %>
          <% end %>
        </td>
    <% end %>
  </tbody>
</table>
