<div class="page-header">
  <span class="h1"><%= "#{@user.first_name} #{@user.last_name}" %></span>
  <%= link_to 'Edit', edit_user_path, class: "btn btn-info pull-right" %>
</div>
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 text-right">First Name</label>
    <div class="col-sm-4">
      <%= @user.first_name %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 text-right">Last Name</label>
    <div class="col-sm-4">
        <%= @user.last_name %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 text-right">Email</label>
    <div class="col-sm-4">
        <%= mail_to @user.email %>
    </div>
  </div>
</div>
