<div class="well col-md-offset-4 col-md-4">
  <h1>Sign Up</h1>
  <%= form_for @user, url: signup_path do |f| %>
    <div id="error_explanation">
      <% if @user.errors.present? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "Sign Up", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
