<div class="well col-md-offset-4 col-md-4">
  <h1>Sign In</h1>
  <%= form_tag signin_path do |f|  %>
    <% if @sign_in_error %>
      <div style="color:red">
        <%= @sign_in_error %>
      </div>
    <% end %>
    <div class="form-group">
      <div>
        <%= label_tag :email %>
      </div>
      <div>
        <%= email_field_tag :email, nil , class: "form-control"  %>
      </div>
    </div>
    <div class="form-group">
      <div>
        <%= label_tag :password %>
      </div>
      <div>
        <%= password_field_tag :password, nil, class: "form-control" %>
      </div>
    </div>
      <div>
        <%= submit_tag "Sign In", class: "form-group btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
