<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>
<div class="page-header">
  <span class="h1">Projects</span>
  <%= link_to 'Create Project', new_project_path, class: "btn btn-info pull-right" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-1">
        Name
      </th>
      <th class="col-sm-1">
        Tasks
      </th>
      <th class="col-sm-1">
        Members
      </th>
    </tr>
  </thead>
  <tbody>
    <% current_user.projects.each do |project| %>
      <tr>
        <td class="col-sm-1">
          <%= link_to project.name, project %>
        </td>
        <td class="col-sm-1">
          <%= link_to project.tasks.count, project_tasks_path(project) %>
        </td>
        <td class="col-sm-1">
          <%= link_to project.memberships.count, project_memberships_path(project) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.tracker_token? %>
<div class="page-header">
  <span class="h1">Pivotal Tracker Projects</span>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-1">
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "tracker_projects", collection: @tracker_projects %>
  </tbody>
</table>
<% end %>
