<% if notice %>
  <p align="center" class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<%= page_header "Projects" do %>
  <%= link_to 'Create Project', new_project_path, class: "btn btn-info" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-1">
        Name
      </th>
      <th class="col-sm-1">
        Tasks
      </th>
      <th class="col-sm-1">
        Members
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "project", collection: @projects %>
  </tbody>
</table>
<% if current_user.tracker_token? %>
  <%= page_header "Pivotal Tracker Projects" %>
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-1">
          Name
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "tracker_project", collection: @tracker_projects %>
    </tbody>
  </table>
<% end %>
