<div>
  <a name="top"></a>
  <h2>Frequently Asked Questions</h2>
  <% Faq.all.each do |faq| %>
    <a href=#<%= faq.slug %>>
      <ul>
          <li><%= faq.question %></li>
      </ul>
    </a>
  <% end %>
  <br></br>
  <% @faqsort.each do |faq| %>
    <a name="<%= faq.slug %>"></a>
    <h4><%= faq.question %></h4>
      <p><%= faq.answer %></p>
    <div class="faqend">
      <a href=#top>Top</a>
    </div>
  <% end %>
</div>
