<div class="page-header h1">About</div>
<div class="row">
  <div class="panel col-md-4">
    <%=image_tag('rocket2.jpg', class: "img-responsive")%>
  </div>
  <div class="pane col-md-8">
    <p>
      We are dedicated to the makers, especially the lazy ones. Like this guy who won't finish writing this paragraph
    </p>
  </div>
</div>
<div class="row col-md-12">
  <p>
    gCamp is extremely active. Check out our killer stats below!
  </p>
  <p>
    <%= pluralize(Project.count, "Project") %>,
    <%= pluralize(Task.count, "Task") %>,
    <%= pluralize(Membership.count, "Membership") %>,
    <%= pluralize(User.count, "User") %>,
    <%= pluralize(Comment.count, "Comment") %>
  </p>
</div>
