<%= page_header "About" %>
<div class="row">
  <div class="panel col-md-4">
    <%=image_tag('rocket2.jpg', class: "img-responsive")%>
  </div>
  <div class="pane col-md-8">
    <p>gCamp is a project and team management app built entirely on the Ruby on Rails framework. gCamp was used as a learning tool to understand and explore:</P>
      <ul>
        <li>Ruby</li>
        <li>Rails</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>CRUD</li>
        <li>Validations</li>
        <li>Authentications</li>
        <li>Associations</li>
        <li>APIs</li>
        <li>Testing</li>
      </ul>
  </div>
</div>
<div class="row col-md-12">
  <p>
    gCamp is active. See the statistics below:
  </p>
  <p>
    <%= pluralize(Project.count, "Project") %>,
    <%= pluralize(Task.count, "Task") %>,
    <%= pluralize(Membership.count, "Membership") %>,
    <%= pluralize(User.count, "User") %>,
    <%= pluralize(Comment.count, "Comment") %>
  </p>
</div>
