<div>
  <h1>
    About
  </h1>
  <p style="font-size:16">
    Get organized and increase productivity with your team
  </p>
  <p class="col-md-12">
    <%=image_tag('rocket2.jpg', class: "img-responsive")%>
  </p>

</div>
<div>
  <p>
    gCamp is extremely active. Check out our killer stats below!
  </p>
  <p>
    <%= pluralize(Project.count, "Project") %>,
    <%= pluralize(Task.count, "Task") %>,
    <%= pluralize(Membership.count, "Membership") %>,
    <%= pluralize(User.count, "User") %>,
    <%= pluralize(Comment.count, "Comment") %>
  </p>
</div>
