<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%='homepage' if current_page?'/'%>">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <%= link_to "gCamp", root_path, class: "navbar-brand"  %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <%= link_to t(:home), root_path, {:class => ("active disabled" if current_page?('/homepage'))}%> |
        <%= link_to t(:about), about_path, {:class => ("active disabled" if current_page?('/about'))}%> |
        <%= link_to t(:terms), terms_path, {:class => ("active disabled" if current_page?('/terms'))}%> |
        <%= link_to t(:tasks), tasks_path, {:class => ("active disabled" if current_page?('/tasks'))}%> |
        <%= link_to t(:faq), faq_path, {:class => ("active disabled" if current_page?('/faq'))}%>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
