<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body class = "container">
    <div class="navbar navbar-inverse" role="navigation">
      <div>
        <%= link_to "gCamp", homepage_path, class: "navbar-brand"  %>
      </div>
    </div>
<%= yield %>
    <div class="footer">
        <%= link_to t(:home), homepage_path, {:class => ("active disabled" if current_page?('/homepage'))}%> |
        <%= link_to t(:about), about_path, {:class => ("active disabled" if current_page?('/about'))}%> |
        <%= link_to t(:terms), terms_path, {:class => ("active disabled" if current_page?('/terms'))}%> |
        <%= link_to t(:tasks), tasks_path, {:class => ("active disabled" if current_page?('/tasks'))}%> |
        <%= link_to t(:faq), faq_path, {:class => ("active disabled" if current_page?('/faq'))}%>
      </div>
    </div>
  </body>
</html>
