<!DOCTYPE html>
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>gCamp</title>
  </head>
  <body class="<%='homepage' if current_page?'/'%>">
    <div class="navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <%= link_to "gCamp", root_path, class: "navbar-brand"  %>
      </div>
    </div>
    <div class="container special">
      <%= yield %>
    </div>
      <div class="footer">
        <div class="container">
          <div align="left" class="col-md-6">
            <%= link_to t(:home), root_path, {:class => ("active disabled" if current_page?('/homepage'))}%> |
            <%= link_to t(:users), users_path, {:class => ("active disabled" if current_page?('/homepage'))}%> |
            <%= link_to t(:tasks), tasks_path, {:class => ("active disabled" if current_page?('/tasks'))}%> |
            <%= link_to t(:projects), projects_path, {:class => ("active disabled" if current_page?('/projects'))}%> |
            <%= link_to t(:about), about_path, {:class => ("active disabled" if current_page?('/about'))}%> |
            <%= link_to t(:terms), terms_path, {:class => ("active disabled" if current_page?('/terms'))}%> |
            <%= link_to t(:faq), faq_path, {:class => ("active disabled" if current_page?('/faq'))}%>
          </div>
          <div align="right" class="col-md-6">
            <%= link_to "http://www.linkedin.com/in/peterclowes" do %>
              <%=image_tag('linkedin.png', width: "20em")%>
            <% end %> |
            <%= link_to "http://www.github.com/pclowes" do %>
              <%=image_tag('github.png', width: "20em")%>
            <% end %> |
            <%= link_to "http://www.twitter.com/peterclowes" do %>
              <%=image_tag('twitter.png', width: "20em")%>
            <% end %>
          </div>
        </div>
      </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
