<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= yield %>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <%= link_to "gCamp", homepage_path, class: "navbar-brand"  %>
      </div>
    </div>

    <footer>
      <div class="row">
        <h5 display: "inline-block">
          <div class="fixed-footer myfooter container">
            <%= link_to t(:about), about_path, {:class => ("active disabled" if current_page?('/about'))}%> |
            <%= link_to t(:terms), terms_path, {:class => ("active disabled" if current_page?('/terms'))}%>
          </div>
        </h5>
      </div>
    </footer>
  </body>
</html>
