<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <title>gCamp</title>
</head>
<body class="<%='homepage' if current_page?'/'%>">
  <div class="navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= projects_path %>">gCamp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li>
          <%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user, {:class => ("active" if current_page?("/users/#{current_user[:id]}"))}%>
        </li>
        <li>
          <%= link_to "Sign Out", signout_path %>
        </li>
        <% else %>
        <li>
          <%= link_to "Sign Up", signup_path, {:class => ("active" if params[:controller] == "registrations")} %>
        </li>
        <li>
          <%= link_to "Sign In", signin_path, {:class => ("active" if params[:controller] == "authentication")} %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container special">
    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <div align="left" class="col-md-6">
        <%= link_to t(:home), root_path, {:class => ("active disabled" if current_page?('/homepage'))}%> |
        <%= link_to t(:about), about_path, {:class => ("active disabled" if current_page?('/about'))}%> |
        <%= link_to t(:terms), terms_path, {:class => ("active disabled" if current_page?('/terms'))}%> |
        <%= link_to t(:faq), faq_path, {:class => ("active disabled" if current_page?('/faq'))}%> |
        <% if current_user %>
          <%= link_to "My Projects", projects_path(@user), {:class => ("active disabled" if current_page?('/projects'))}%>
        <% end %>
      </div>
      <div align="right" class="col-md-6">
        <%= link_to "http://www.linkedin.com/in/peterclowes" do %>
        <%=image_tag('linkedin.png', width: "20em")%>
        <% end %> |
        <%= link_to "http://www.github.com/pclowes" do %>
        <%=image_tag('github.png', width: "20em")%>
        <% end %> |
        <%= link_to "http://www.twitter.com/peterclowes" do %>
        <%=image_tag('twitter.png', width: "20em")%>
        <% end %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
